<a href="https://colab.research.google.com/github/chirag-star/Python_Practicals_Sem5/blob/main/Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practical 2**

In [1]:
a =12       # Declaring Variable in Python
print(a)    # Printing the variable

12

In [2]:
num = 65                #Declaring a integer
name = "Chirag"         #Declaring a String
bool = False            #Declaring a boolean
Length = 47.124         #Declaring a float
print(type(num))        #Printing num
print(type(name))       #Printing name
print(type(bool))       #Printing bool
print(type(Length))     #Printing Length

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [4]:
name = input("Enter the name ")   #Taking String input
age = input("Enter the age ")     #Taking Integer input
add = input("Enter the address ") #Taking String input
print("The name is ", name)      #Printing name
print("The age is ", age)        #Printing age
print("The Adress is ", add)     #Printing Adress

Enter the name Chirag
Enter the age 20
Enter the address Vrindavan Society, Aurangabad
The name is  Chirag
The age is  20
The Adress is  Vrindavan Society, Aurangabad

In [6]:
a=int(input("Enter value of number 1 ")) #Taking Input of three Integers
b=int(input("Enter value of number 2 "))
c=int(input("Enter value of number 3 "))
print("Sum:",a+b+c)                     #printing sum
print ("Average:",(a+b+c)/3)            #printing average

Enter value of number 1 10
Enter value of number 2 2
Enter value of number 3 15
Sum: 27
Average: 9.0

In [12]:
radius = float(input("Enter radius to find area ")) #Taking radius as input
print("Area:" ,float((22/7)*radius*radius),"sq.m")

Enter radius to find area 14
Area: 616.0 sq.m

In [14]:
days=int(input("Enter days: ")) #Taking the input
print ("Month:",int(days/30))  #Converting in months
print ("days:",int(days%30))   #Converting in days

Enter days: 155
Month: 5
days: 5